body {
  width: 80vw;
  max-width: 500px;
  margin: auto;
  font-family: Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

p {
  font-weight: 100;
  line-height: 1.4rem;
}

.select-box {
  margin-right: 20px;
}